/* --------------------------------------------------------------------------
|
|     SIZEWIN.RC
|
|     SizeWin - OS/2 Presentation Manager Window Sizing Tool
|
|     Copyright 1994 by David B. Kumhyr
|
|     All rights reserved under U.S. and international copyright laws.
|     FreeWare application, Free use and distribution is encouraged.
|
|     Copyright owner : David B. Kumhyr
|                       Fuquay-Varina, NC 27526
|
|     Author(s) ......: David B. Kumhyr
|     Date ...........: 04Nov93
|     Operating system: OS/2 2.1
|     Version control : SCCS
|     Compiler vers ..: Borland C++ 1.0
|     Make files .....: SIZEWIN.PRJ
|
+--------------------------------------------------------------------------
|
|     Author(s) ......: David B. Kumhyr
|     Date ...........: 29Nov22
|     Version control : GIT
|
|     - Update contact information, add to GIT
|
|     Copyright owner : David B. Kumhyr
|                       david_kumhyr@yahoo.com
|                       Austin, TX, 78737
|
+-------------------------------------------------------------------------- */

#define  INCL_WIN
#define  INCL_WINHELP
#define  INCL_WINSTDSPIN

#include <os2.h>

#include "sizewin.h"

ICON    ID_SIZEWIN          sizewin.ico
POINTER IDP_SIZEWIN         sizewin.ptr

BITMAP  101  TOOLMENU.BMP
BITMAP  102  OPTSMENU.BMP
BITMAP  103  HELPMENU.BMP

MENU ID_SIZEWIN PRELOAD {

  // Tools
  SUBMENU "#101",                      M_TOOLS,       MIS_BITMAP {
    MENUITEM "~Mouse position",        M_MOUSEPOS
    MENUITEM "~Goto point...",         M_POINT
    MENUITEM SEPARATOR
    MENUITEM "~Query window",          M_TARGET
    MENUITEM "~Trackframe",            M_SIZER
    MENUITEM "~Frame draw...",         M_FRAME
    MENUITEM SEPARATOR
    MENUITEM "C~alculator...",         M_CALCULATOR
    }

  // Options
  SUBMENU "#102",                      M_OPTIONS,     MIS_BITMAP {
    MENUITEM "~Text menu",             M_BITMAP
    MENUITEM "Stay on ~top",           M_TOP
    MENUITEM "Track from ~zero",       M_ZERO
    MENUITEM SEPARATOR
    MENUITEM "~Monitor dimensions",    M_MONITOR
    SUBMENU  "~Coordinate system",     M_COORDSYS {
       MENUITEM "~Window",                M_WINDOW,      MIS_TEXT, MIA_CHECKED
       MENUITEM "~Dialog",                M_DIALOG,      MIS_TEXT
       }
    }

  // Help
  SUBMENU "#103",                      M_HELP, MIS_BITMAP {
       MENUITEM "Help ~index...",      SC_HELPINDEX,      MIS_SYSCOMMAND
       MENUITEM "~General help...",    M_GENERAL
       MENUITEM "~Using help...",      M_USEHELP
       MENUITEM "~Keys help...",       SC_HELPKEYS,       MIS_SYSCOMMAND
       MENUITEM SEPARATOR
       MENUITEM "~Product information",M_ABOUT,         MIS_TEXT
       }
  }

MENU IDT_SIZEWIN LOADONCALL {

  // Tools
  SUBMENU "~Tools",                    M_TOOLS  {
    MENUITEM "~Mouse position",        M_MOUSEPOS
    MENUITEM "~Goto point...",         M_POINT
    MENUITEM SEPARATOR
    MENUITEM "~Query window",          M_TARGET
    MENUITEM "~Trackframe",            M_SIZER
    MENUITEM "~Frame draw...",         M_FRAME
    MENUITEM SEPARATOR
    MENUITEM "C~alculator...",         M_CALCULATOR
    }

  // Options
  SUBMENU "~Options",                  M_OPTIONS {
    MENUITEM "~Bitmap menu",           M_BITMAP
    MENUITEM "Stay on ~top",           M_TOP
    MENUITEM "Track from ~zero",       M_ZERO
    MENUITEM SEPARATOR
    MENUITEM "~Monitor dimensions",    M_MONITOR
    SUBMENU  "~Coordinate system",     M_COORDSYS {
       MENUITEM "~Window",                M_WINDOW,      MIS_TEXT, MIA_CHECKED
       MENUITEM "~Dialog",                M_DIALOG,      MIS_TEXT
       }
    }

  // Help
  SUBMENU "~Help",                     M_HELP {
       MENUITEM "Help ~index...",      SC_HELPINDEX,      MIS_SYSCOMMAND
       MENUITEM "~General help...",    M_GENERAL
       MENUITEM "~Using help...",      M_USEHELP
       MENUITEM "~Keys help...",       SC_HELPKEYS,       MIS_SYSCOMMAND
       MENUITEM SEPARATOR
       MENUITEM "~Product information",M_ABOUT,         MIS_TEXT
       }
  }

/* ---------------------------------------------------------------
| SizeWin Help Table Definition
+--------------------------------------------------------------- */

HELPTABLE HT_SIZEWIN {

   HELPITEM ID_SIZEWIN, HST_SIZEWIN, M_GENERAL

}

HELPSUBTABLE HST_SIZEWIN {

   // Menu items
   // Tools menu
   HELPSUBITEM M_TOOLS,      M_GENERAL
   HELPSUBITEM M_MOUSEPOS,   M_GENERAL
   HELPSUBITEM M_POINT,      M_GENERAL
   HELPSUBITEM M_TARGET,     M_GENERAL
   HELPSUBITEM M_SIZER,      M_GENERAL
   HELPSUBITEM M_FRAME,      M_GENERAL
   HELPSUBITEM M_CALCULATOR, M_GENERAL

   // Options menu
   HELPSUBITEM M_OPTIONS,    M_GENERAL
   HELPSUBITEM M_BITMAP,     M_GENERAL
   HELPSUBITEM M_TOP,        M_GENERAL
   HELPSUBITEM M_ZERO,       M_GENERAL
   HELPSUBITEM M_MONITOR,    M_GENERAL
   HELPSUBITEM M_COORDSYS,   M_GENERAL
   HELPSUBITEM M_WINDOW,     M_GENERAL
   HELPSUBITEM M_DIALOG,     M_GENERAL

   // Help menu
   HELPSUBITEM M_HELP,       M_GENERAL
   HELPSUBITEM M_USEHELP,    M_GENERAL
   HELPSUBITEM M_GENERAL,    M_GENERAL
   HELPSUBITEM M_ABOUT,      M_GENERAL

   // Dialogs
   HELPSUBITEM    ID_ABOUT,        ID_ABOUT
   HELPSUBITEM    ID_SIZEWIN,      ID_SIZEWIN
   HELPSUBITEM    ID_CALCULATE,    ID_CALCULATE
   HELPSUBITEM    ID_MONITOR,      ID_MONITOR
   HELPSUBITEM    ID_POINT,        ID_POINT
   HELPSUBITEM    ID_FRAME,        ID_FRAME

   }

// String table

STRINGTABLE {
   IDS_FRAMEDRAW   "~Frame draw..."
   IDS_CLOSEFRAME  "~Close framer window"
   }


// Accelerator table

ACCELTABLE ID_SIZEWIN {

  VK_F3,  SC_CLOSE,         VIRTUALKEY

}

/* --< ABOUT DIALOG >----------------------------------------------------
|
|  Product Information dialog box.
|
+--------------------------------------------------------------------- */
DLGTEMPLATE ID_ABOUT LOADONCALL MOVEABLE DISCARDABLE {

   DIALOG "Product Information",
          ID_ABOUT,
          85, 49, 151, 116,
          FS_NOBYTEALIGN | FCF_BORDER | WS_VISIBLE, FCF_TITLEBAR {

   CONTROL "SizeWin",
           ID_SIZEWIN,
           5, 73, 142, 40,
           WC_STATIC, SS_TEXT |
           DT_CENTER | DT_TOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "40.Times New Roman Italic"
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL 1, ID_SIZEWIN,
           63, 65,  21, 16,
           WC_STATIC,
           SS_ICON | WS_VISIBLE

   CONTROL "OS/2 Window Sizing Tool",
           0, 4, 47, 143, 14,
           WC_STATIC,
           SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "by David B. Kumhyr",
           0, 4, 36, 143, 14,
           WC_STATIC,
           SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "71552,6149",
           0, 4, 24, 143, 14,
           WC_STATIC,
           SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"
   CONTROL "Ok",
           DID_OK,
           29, 4, 38, 15,
           WC_BUTTON,
           BS_PUSHBUTTON | BS_DEFAULT |
           WS_TABSTOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "~Help",
           WM_HELP,
           84, 4, 38, 15,
           WC_BUTTON, BS_PUSHBUTTON |
           BS_HELP | WS_TABSTOP | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"
   }
}

/* --< COORDINATES DIALOG >----------------------------------------------
|
|  Main coordinates display dialog.
|
+--------------------------------------------------------------------- */DLGTEMPLATE ID_COORD LOADONCALL MOVEABLE DISCARDABLE {

   DIALOG "Coordinates",
          ID_COORD,
          0, 0,126,47,
          FS_NOBYTEALIGN | WS_VISIBLE, FS_BORDER | FCF_TITLEBAR {

   CONTROL "Window",
           D_SYSTEM,
           3,38,40,10,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL "x",
           0,
           50,38,16,8,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "y",
           0,
           50,29,16,8,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "cx",
           0,
           50,20,16,8,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "cy",
           0,
           50,11,16,8,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "pointer x:y",
           0,
           3,2,62,10,
           WC_STATIC,
           SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FONTNAMESIZE "14.Times New Roman Italic"

   CONTROL "",
           D_X,
           71,38,20,8,
           WC_STATIC,
           SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL "",
           D_Y,
           71,29,20,8,
           WC_STATIC,
           SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL "",
           D_CX,
           71,20,20,8,
           WC_STATIC,
           SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL "",
           D_CY,
           71,11,20,8,
           WC_STATIC,
           SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED

   CONTROL "",
           D_MOUSE,
           71,2,45,8,
           WC_STATIC,
           SS_TEXT | DT_VCENTER | WS_VISIBLE
           PRESPARAMS PP_FOREGROUNDCOLORINDEX CLR_RED
   }
}

/* -------------- calc.dlg ------------------- */
DLGTEMPLATE ID_CALCULATE LOADONCALL MOVEABLE DISCARDABLE {

    DIALOG "Coordinate Calulator",
            ID_CALCULATE,
            45,61,122,113,
            FS_BORDER | NOT FS_DLGBORDER | WS_VISIBLE,
            FCF_TITLEBAR {


    CONTROL "X",
            0,
            13,94,13,10,
            WC_STATIC,
            SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE

    CONTROL "Y",
            0,
            13,78,13,10,
            WC_STATIC,
            SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE

    CONTROL "",
            D_WINX,
            36,94,29,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "",
            D_WINY,
            35,77,29,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "",
            D_CONVX,
            77,93,35,10,
            WC_STATIC,
            SS_TEXT | DT_VCENTER | WS_VISIBLE

    CONTROL "",
            D_CONVY,
            75,76,35,10,
            WC_STATIC,
            SS_TEXT | DT_VCENTER | WS_VISIBLE

    CONTROL "Translation",
            0,
            5,21,111,43,
            WC_STATIC,
            SS_GROUPBOX | WS_VISIBLE

    CONTROL "Window -> Dialog",
            D_WIN2DLG,
            10,46,95,10,
            WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Cancel",
            DID_CANCEL,
            13,4,41,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_CLIPSIBLINGS | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Help",
            WM_HELP,
            62,4,41,13,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_TABSTOP

   }
}

/* ----------------- monitor.dlg ------------------------- */

DLGTEMPLATE ID_MONITOR LOADONCALL MOVEABLE DISCARDABLE {

     DIALOG "Monitor Dimensions",
            ID_MONITOR,
            152,121,179,87,
            FS_BORDER | NOT FS_DLGBORDER |
            WS_VISIBLE, FCF_TITLEBAR {

    CONTROL "Width",
            0,
            91,72,33,10,
            WC_STATIC,
            SS_TEXT | DT_BOTTOM | DT_CENTER | WS_VISIBLE

    CONTROL "Height",
            0,
            131,72,33,10,
            WC_STATIC,
            SS_TEXT | DT_BOTTOM | DT_CENTER | WS_VISIBLE

    CONTROL "Physical monitor",
            D_PHYSICAL,
            8,60,76,10,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "",
            D_X,
            95,60,22,10,
            WC_STATIC,
            SS_TEXT | WS_VISIBLE

    CONTROL "",
            D_Y,
            135,60,22,10,
            WC_STATIC,
            SS_TEXT | WS_VISIBLE

    CONTROL "Virtual monitor",
            D_VIRTUAL,
            8,46,76,10,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "",
            D_NEWX,
            95,46,23,9,
            WC_ENTRYFIELD,
            ES_MARGIN  | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "",
            D_NEWY,
            135,46,23,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "Monitors",
            D_MONGROUP,
            8,17,162,24,
            WC_STATIC,
            SS_GROUPBOX | WS_CLIPSIBLINGS | WS_VISIBLE

    CONTROL "EGA",
            D_EGA,
            16,19,33,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "VGA",
            D_VGA,
            56,19,33,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "XGA",
            D_XGA,
            94,19,33,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "PS/55",
            D_PS55,
            133,19,33,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "Ok",
            DID_OK,
            32,2,31,13,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP

    CONTROL "Cancel",
            DID_CANCEL,
            77,2,31,13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "Help",
            WM_HELP,
            123,2,31,13,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_TABSTOP

    }

}

/* ----------------------- point.dlg --------------------- */

DLGTEMPLATE ID_POINT LOADONCALL MOVEABLE DISCARDABLE {

    DIALOG  "GoTo Point",
            ID_POINT,
            107, 45, 110, 69,
            FS_NOBYTEALIGN | FS_BORDER |
            NOT FS_DLGBORDER | WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR {

    CONTROL "X coordinate",
            0,
            8, 44, 91, 20,
            WC_STATIC,
            SS_GROUPBOX | WS_VISIBLE

    CONTROL "Y coordinate",
            0,
            8, 19, 91, 20,
            WC_STATIC,
            SS_GROUPBOX | WS_VISIBLE

    CONTROL "",
            D_X,
            20, 46, 23, 10,
            WC_ENTRYFIELD,
            WS_TABSTOP | WS_VISIBLE

    CONTROL "",
            D_Y,
            20, 21, 23, 10,
            WC_ENTRYFIELD,
            WS_TABSTOP | WS_VISIBLE

    CONTROL "Ok",
            DID_OK,
            3, 3, 33, 13,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE

    CONTROL "Cancel",
            DID_CANCEL,
            39, 3, 33, 13,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE

    CONTROL "Help",
            WM_HELP,
            75, 3, 33, 13,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE

    }
}

/* -------------------------- frame.dlg --------------------*/
DLGTEMPLATE ID_FRAME LOADONCALL MOVEABLE DISCARDABLE {


    DIALOG  "Create Frame",
            ID_FRAME,
            200,92,124,102,
            FS_NOBYTEALIGN | WS_VISIBLE,
            FCF_BORDER | FCF_TITLEBAR {

    CONTROL "Window coordinates",
            0,
            7,24,109,75,
            WC_STATIC,
            SS_GROUPBOX | WS_VISIBLE

    CONTROL "X",
            0,
            35,75,17,11,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "X",
            0,
            35,75,17,11,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "Y",
            0,
            36,62,17,11,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "CX",
            0,
            36,47,17,11,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "CY",
            0,
            37,33,17,11,
            WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE

    CONTROL "",
            D_X,
            64,78,26,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "",
            D_Y,
            64,64,26,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "",
            D_CX,
            64,50,26,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "",
            D_CY,
            64,35,26,9,
            WC_ENTRYFIELD,
            ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "Ok",
            DID_OK,
            7,4,32,16,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP

    CONTROL "Cancel",
            DID_CANCEL,
            47,4,32,16,
            WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "Help",
            WM_HELP,
            86,4,32,16,
            WC_BUTTON,
            BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_TABSTOP

     }

}

